.col.sm-3.col-md-2.sidebar(data-ng-controller='SidebarCtrl as sidebarCtrl')
  ul.nav.nav-sidebar
    li
      .panel.panel-default.text-center
        .panel-body(data-ng-bind='sidebarCtrl.instructions')
  ul.nav.nav-sidebar.controls(data-ng-show='appCtrl.appReady')
    li.text-center
      .btn-group
        .btn.btn-sm(data-ng-repeat='diff in gameCtrl.difficulties',
          data-ng-click='sidebarCtrl.setDifficulty(diff)',
          data-ng-class='sidebarCtrl.getDifficultyBtnState(diff)',
          data-ng-bind='diff')
    li.text-center
      button.btn.btn-success(type='button',
        data-ng-click='gameCtrl.start(gameCtrl.numOfCards)',
        data-ng-hide='gameCtrl.timer') Start Game
      button.btn.btn-danger(type='button',
        data-ng-click='gameCtrl.stop()',
        data-ng-show='gameCtrl.timer') Stop Game
    li
      span(data-ng-hide='gameCtrl.timer') Time Left: Not Started
      span(data-ng-show='gameCtrl.timer') Time Left: 
      span(data-ng-show='gameCtrl.timer', em-countdown='gameCtrl.timer', em-countdown-end='gameCtrl.lose()',
        em-countdown-duration='sidebarCtrl.getDuration(gameCtrl.cards.length, gameCtrl.difficulty[gameCtrl.curDifficulty])')
    li
      span(data-ng-bind-template='Total Number of Cards: {{gameCtrl.numOfCards}}')
      .btn-group.card-count(data-ng-hide='gameCtrl.timer')
        .btn.btn-xs.btn-default(href="#",
          data-ng-click='sidebarCtrl.decreaseCards(gameCtrl.cardMultiplier)') &laquo;
        .btn.btn-xs.btn-default(href="#",
          data-ng-click='sidebarCtrl.increaseCards(gameCtrl.cardMultiplier)') &raquo;
    li(data-ng-show='gameCtrl.timer')
      span(data-ng-bind-template='Number of Cards Left: {{gameCtrl.numOfCards - gameCtrl.matchedCards.length}}')

  //-ul.nav.nav-sidebar.scores
    //-li Scores:
